<div class="container-fluid p-5" style="background-image: url('assets/img1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-6 mt-5">

                <h6 class="text-white">Get In Touch</h6>
                <p class="text-white mt-4"><i class="fa-solid fa-location-dot"></i> No.16, Kalaivanar Main Road, Padi,
                    Anna Nagar West Extn <br> chennai 600050</p>
                <p class="text-white mt-4"><i class="fa-solid fa-phone"></i> +91 6381099917</p>
                <p class="text-white mt-4"><i class="fa-solid fa-envelope"></i> booking@intercitydrop.in</p>
                <h6 class="text-white mt-5">Find Us</h6>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248756.1313092017!2d80.04420303901686!3d13.047473319301794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5265ea4f7d3361%3A0x6e61a70b6863d433!2sChennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1704271756587!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="80%"></iframe>
                </div>
            </div>
            <div class="col-6 " style="background-color: white;">
                <div class="d-flex justify-content-center">
                    <h3 class="text-primary mt-4">Contact For Taxi Attachment</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <p>Attach your taxi with intercitydrop. All over Tamil NAdu Outstation Trips</p>
                </div>

                <div class="p-5">
                    <div class="mb-3">

                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                    </div>
                    <div class="mb-3">

                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Mobile">
                    </div>
                    <div class="mb-3">

                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Address"></textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success">Send</button>

                    </div>
                </div>

            </div>

        </div>


    </div>
</div>

<div class="container-fluid p-5"  style="background-image: url('assets/img2.jpg'); font-family: roboto;" >
    <div class="container">
        <div class="row">

            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <img src="assets/img3.png" alt="">
                    </div>
                    <div class="mt-4">
                        <p>Intercity Drop is a one Way Drop Taxi Booking Service Provider in Chennai Providing
                            Outstation Cab Services all Over Tamil Nadu for more than 5 years.</p>
                    </div>

                </div>

            </div>

            <div class="col-3">
                <div class="ms-4">
                    <h4 class="text-success">Top Cities</h4>
                </div>
                <div class="mt-4">
                    <ul style="list-style: none; line-height: 2;">
                        <li>Chennai</li>
                        <li>Coimbatore</li>
                        <li>Madurai</li>
                        <li>Trichy</li>
                        <li>Tirunelveli</li>
                        <li>Salem</li>
                        <li>Villupuram</li>
                    </ul>
                </div>
            </div>

            <div class="col-3">
                <div class="ms-4">
                    <h4 class="text-success">Seden Cabs</h4>
                </div>
                <div class="mt-4">
                    <ul style="list-style: none;line-height: 2;">
                        <li>Toyota Etios</li>
                        <li>Maruti Swift dZire Tour
                        </li>
                        <li>Hyundai Xcent
                        </li>
                        <li>Nissan Sunny
                        </li>
                        <li>Mahindra Vertio
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-3">
                <div class="ms-4">
                    <h4 class="text-success ">SUV cabs</h4>
                </div>
                <div class="mt-4">
                    <ul style="list-style: none;line-height: 2;">
                        <li>Toyota Innova
                        </li>
                        <li>Mahindra Xylo / Marrazzo
                        </li>
                        <li>Maruti Suzuki Ertiga
                        </li>
                        <li>Renault Lodgy
                        </li>
                        <li>Renault Lodgy
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid bg-info">
    <div class="container">
        <div class="row">
        <div class="col-6">
        <p>Intercity Drop – Outstation Taxi Services in Tamil Nadu
        </p>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <p>© 2023 All Rights Reserved.
        </p>
    </div>
</div>

    </div>

</div>